.btn {
  display: inline-block;
  min-width: 24px;
  height: 24px;
  padding: 3px;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;

  & > span {
    font-size: 18px;
  }

  &:hover {
    background-color: #eee;
    cursor: pointer;
  }

  &:active,
  &.active {
    color: red;
  }
}

.btn--green {
  &:active,
  &.active {
    color: green;
  }
}
