@import "variables";
@import "mixins";

.excel-table {
  overflow: auto;
  flex: 1 1 auto;
  padding-bottom: 2px;
}

.excel-table__row {
  display: flex;
  min-height: 20px;
  height: $row-height;
}

.excel-table__row-info {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $info-cell-width;
  height: 100%;
  border: 1px solid $border-color;
  border-top: none;
  background-color: #f8f9fa;
}

.excel-table__row-data {
  display: flex;
}

.excel-table__col {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  width: $cell-width;
  height: 100%;
  border: 1px solid $border-color;
  border-top: none;
  border-left: none;
  background-color: #f8f9fa;
}

.excel-table__cell {
  min-width: 40px;
  width: $cell-width;
  height: 100%;
  padding: 5px;
  border: 1px solid #e2e3e3;
  border-top: none;
  border-left: none;
  color: #111;
  white-space: nowrap;
  outline: none;

  &.selected {
    outline: 2px solid $primary-color;
    z-index: 1;
  }
}

.excel-table__col-resize,
.excel-table__row-resize {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: $primary-color;
  opacity: 0;

  &:hover {
    opacity: 1;
  }
}

.excel-table__col-resize {
  top: 0;
  z-index: 1;
  width: 4px;

  &:hover {
    cursor: col-resize;
  }
}

.excel-table__row-resize {
  left: 0;
  height: 4px;

  &:hover {
    cursor: row-resize;
  }
}

