@import "variables";
@import "mixins";

.excel-table {
  overflow: auto;
  flex: 1 1 auto;
  padding-bottom: 2px;
}

.excel-table__row {
  display: flex;
  min-height: 20px;
  height: $row-height;
}

.excel-table__row-info {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: $info-cell-width;
  height: 100%;
  border: 1px solid $border-color;
  border-top: none;
  background-color: #f8f9fa;
}

.excel-table__row-data {
  display: flex;
}

.excel-table__col {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 40px;
  width: $cell-width;
  height: 100%;
  border: 1px solid $border-color;
  border-top: none;
  border-left: none;
  background-color: #f8f9fa;
}

.excel-table__cell {
  min-width: 40px;
  width: $cell-width;
  height: 100%;
  padding: 5px;
  border: 1px solid #e2e3e3;
  border-top: none;
  border-left: none;
  color: #111;
  white-space: nowrap;
  outline: none;

  &.selected {
    outline: 2px solid #3c74ff;
    z-index: 1;
  }
}
